@charset "UTF-8";
/* line 1, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
#miHead {
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 100;
  display: block;
  background: linear-gradient(to right, #434564, #6967d5);
}

/* line 8, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
#miHead .miHead__encabezado {
  font-size: 2rem;
  color: white;
}

/* line 12, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
#miHead .h1 {
  text-decoration: none;
}

/* line 19, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
.banner {
  min-height: 300px;
  max-height: 381px;
  max-width: 410px;
  height: 30vh;
  background-image: url("../media/fondo.jpg");
  background-size: cover;
  background-position: center;
  margin: auto;
  margin-top: 150px;
}

@media all and (min-width: 576px) {
  /* line 32, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
  .banner {
    min-height: 300px;
    max-height: 381px;
    max-width: 810px;
    height: 30vh;
    background-image: url("../media/fondo.jpg");
    background-size: cover;
    background-position: center;
    margin: auto;
    margin-top: 130px;
  }
}

@media all and (min-width: 992px) {
  /* line 45, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
  .banner {
    margin-top: 100px;
  }
}

/* line 49, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
#miBody .miBody__navegador {
  color: white;
  font-size: 2rem;
  padding: 20px;
  margin-bottom: 5px;
  border: 3px solid #000;
  width: 46%;
  box-sizing: border-box;
  height: 50%;
  background: linear-gradient(to right, #434564, #6967d5);
  transform: scale(1);
  text-align: center;
}

/* line 61, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
#miBody .miBody__navegador:hover {
  transform: scale(1.1);
}

/* line 65, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
.miFooter__enlace__linkedin {
  width: 25px;
}

/* line 68, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
.miFooter__enlace__gmail {
  width: 32px;
  margin-left: 5px;
}

/* line 72, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
#miFooter {
  position: fixed;
  width: 100%;
  bottom: 10px;
  display: block;
}

/* line 77, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
#miFooter .miFooter__enlace {
  background-color: white;
}

/*Revisar para abajo*/
/* line 82, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
.colorNavegador {
  background: linear-gradient(to right, #434564, #6967d5);
}

/* line 85, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
.navegadorMenu li {
  color: white;
  font-size: 1rem;
  list-style-position: inside;
  list-style-type: upper-roman;
  display: inline-block;
  margin: 7px;
}

/* line 93, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
.navegacion li {
  color: purple;
  font-size: 2rem;
  padding: 20px;
  margin: 5px 2% 5px 27%;
  border: 3px solid #000;
  width: 46%;
  box-sizing: border-box;
  height: 50%;
  background-color: grey;
  transform: scale(1);
  text-align: center;
}

/* line 105, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
.navegacion li :hover {
  transform: scale(1.1);
}

/* line 109, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
.navegacion {
  list-style: none;
}

/* line 112, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
.titulos {
  color: white;
  font-size: 2rem;
  font-style: italic;
}

/* line 117, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
.subContacto {
  color: #000;
  font-size: 1.5rem;
  font-style: italic;
  padding-top: 150px;
}

/* line 123, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
.tituloTabla {
  color: black;
  font-style: italic;
  font-weight: bold;
}

/* line 128, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
.logoPrincipal {
  width: 7vh;
}

/* line 131, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
.foto {
  display: block;
  margin: auto;
  padding-top: 150px;
}

/* line 136, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
.logo {
  width: 7vh;
}

/* line 139, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
body {
  background-color: #e91e630f;
  font-family: 'Roboto', sans-serif;
  font-weight: 400px;
}

/* line 144, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
#menu {
  position: fixed;
  width: 60%;
  top: 0px;
  display: block;
  margin-left: 20%;
  align-content: center;
}

/* line 152, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
#iconos {
  position: fixed;
  width: 100%;
  bottom: 5px;
  margin-left: 90%;
}

/* line 158, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
.iconosNavegacion li {
  display: inline-block;
  margin: 7px;
}

/* line 162, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
.linkedin {
  width: 25px;
}

/* line 165, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
.gmail {
  width: 32px;
}

/* line 168, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
.cuerpoPresentacion {
  margin-top: 150px;
}

/* line 170, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
.cuerpoPresentacion p {
  margin-left: 30vh;
  margin-right: 30vh;
  padding: 10px;
  text-align: center;
  font-family: aria-controls;
  font-size: 1.5rem;
}

/* line 178, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
.cuerpoPresentacion img {
  width: 30vh;
  margin-left: 43%;
  padding: 10px;
}

@media all and (min-width: 576px) {
  /* line 185, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
  .cuerpoPresentacion {
    margin-top: 100px;
  }
}

@media all and (min-width: 992px) {
  /* line 190, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
  .cuerpoPresentacion {
    margin-top: 120px;
  }
}

/* line 194, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
.tablaCentral img {
  width: 100px;
  margin-left: 0%;
  box-sizing: border-box;
  border: 3px solid #000;
}

/* line 200, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
.tablaLiq {
  width: 20%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

/* line 207, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
.tablaCont {
  width: 20%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

/* line 214, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
.tablaAper {
  width: 20%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

/* line 221, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
.tablaImp {
  width: 20%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

/* line 228, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
.tablaCentral {
  padding-top: 150px;
  height: 300px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* line 236, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
.menuNavegacion {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

/* line 242, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
.titulo {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

/* line 248, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
.volver {
  width: 100px;
}

/* line 251, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
#contactoCentrar {
  padding-top: 30px;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 25%;
}

/* line 259, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
.hijoContacto {
  height: 0px;
  width: 30%;
  padding: 30px;
}

/* line 264, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
.hijoContactoMensaje {
  width: 30%;
  height: 40px;
  padding: 30px;
}

/* line 269, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
#queHacemos {
  margin-top: 150px;
}

/* line 271, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
#queHacemos .queHacemos__imagen {
  width: 130px;
  box-sizing: border-box;
  border: 2px solid #000;
}

/* line 276, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
#queHacemos .queHacemos__titulo {
  margin-top: 3px;
}

/*# sourceMappingURL=estilos.css.map */