@charset "UTF-8";
/* line 1, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
#miHead {
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 100;
  display: block;
  background: linear-gradient(to right, #434564, #6967d5);
}

/* line 8, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
#miHead .miHead__encabezado {
  font-size: 2rem;
  color: white;
}

/* line 12, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
#miHead .h1 {
  text-decoration: none;
}

/* line 17, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
.banner {
  min-height: 300px;
  max-height: 381px;
  max-width: 810px;
  height: 40vh;
  width: 55vh;
  background-image: url("../media/fondo.jpg");
  background-size: cover;
  background-position: center;
  margin: auto;
  margin-top: 150px;
}

/* line 29, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
.presentcionBanner {
  min-height: 200px;
  max-height: 600px;
  max-width: 600px;
  width: 40vh;
  height: 40vh;
  background-image: url("../media/sanchez1.jpeg");
  background-size: cover;
  background-position: center;
  margin: auto;
  margin-top: 20vh;
}

@media all and (min-width: 576px) {
  /* line 43, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
  .banner {
    min-height: 300px;
    max-height: 381px;
    max-width: 810px;
    height: 40vh;
    width: 90vh;
    background-image: url("../media/fondo.jpg");
    background-size: cover;
    background-position: center;
    margin: auto;
    margin-top: 130px;
  }
}

@media all and (min-width: 992px) {
  /* line 57, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
  .banner {
    margin-top: 100px;
  }
}

/* line 61, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
#miBody .miBody__navegador {
  color: white;
  font-size: 2rem;
  padding: 20px;
  margin-bottom: 5px;
  border: 3px solid #000;
  width: 46%;
  box-sizing: border-box;
  height: 50%;
  background: linear-gradient(to right, #434564, #6967d5);
  transform: scale(1);
  text-align: center;
}

/* line 73, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
#miBody .miBody__navegador:hover {
  transform: scale(1.1);
}

/* line 77, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
.miFooter__enlace__linkedin {
  width: 25px;
}

/* line 80, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
.miFooter__enlace__gmail {
  width: 32px;
  margin-left: 5px;
}

/* line 84, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
#miFooter {
  position: fixed;
  width: 100%;
  bottom: 10px;
  display: block;
}

/* line 89, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
#miFooter .miFooter__enlace {
  background-color: white;
}

/*Revisar para abajo*/
/* line 94, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
.colorNavegador {
  background: linear-gradient(to right, #434564, #6967d5);
}

/* line 97, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
.navegadorMenu li {
  color: white;
  font-size: 1rem;
  list-style-position: inside;
  list-style-type: upper-roman;
  display: inline-block;
  margin: 7px;
}

/* line 105, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
.navegacion li {
  color: purple;
  font-size: 2rem;
  padding: 20px;
  margin: 5px 2% 5px 27%;
  border: 3px solid #000;
  width: 46%;
  box-sizing: border-box;
  height: 50%;
  background-color: grey;
  transform: scale(1);
  text-align: center;
}

/* line 117, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
.navegacion li :hover {
  transform: scale(1.1);
}

/* line 121, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
.navegacion {
  list-style: none;
}

/* line 124, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
.titulos {
  color: white;
  font-size: 2rem;
  font-style: italic;
}

/* line 129, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
.subContacto {
  color: #000;
  font-size: 1.5rem;
  font-style: italic;
  padding-top: 150px;
}

/* line 135, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
.tituloTabla {
  color: black;
  font-style: italic;
  font-weight: bold;
}

/* line 140, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
.logoPrincipal {
  width: 7vh;
}

/* line 143, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
.foto {
  display: block;
  margin: auto;
  padding-top: 150px;
}

/* line 148, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
.logo {
  width: 7vh;
}

/* line 151, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
body {
  background-color: #e91e630f;
  font-family: 'Roboto', sans-serif;
  font-weight: 400px;
}

/* line 156, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
#menu {
  position: fixed;
  width: 60%;
  top: 0px;
  display: block;
  margin-left: 20%;
  align-content: center;
}

/* line 164, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
#iconos {
  position: fixed;
  width: 100%;
  bottom: 5px;
  margin-left: 90%;
}

/* line 170, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
.iconosNavegacion li {
  display: inline-block;
  margin: 7px;
}

/* line 174, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
.linkedin {
  width: 25px;
}

/* line 177, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
.gmail {
  width: 32px;
}

/* line 181, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
.cuerpoPresentacion p {
  padding: 0;
  text-align: center;
  font-family: aria-controls;
  font-size: 1.5rem;
  margin: auto;
  margin: 0 10vh 10vh;
}

/* line 190, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
.cuerpoQHacemos {
  padding: 0;
  text-align: center;
  font-family: aria-controls;
  font-size: 1.5rem;
  margin: auto;
  margin: 0 10vh 10vh;
}

/* line 197, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
.cuerpoQHacemos ul {
  list-style: none;
}

@media all and (min-width: 576px) {
  /* line 202, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
  .cuerpoPresentacion {
    margin-top: 100px;
  }
}

@media all and (min-width: 992px) {
  /* line 207, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
  .cuerpoPresentacion {
    margin-top: 120px;
  }
}

/* line 211, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
.tablaCentral img {
  width: 100px;
  margin-left: 0%;
  box-sizing: border-box;
  border: 3px solid #000;
}

/* line 217, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
.tablaLiq {
  width: 20%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

/* line 224, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
.tablaCont {
  width: 20%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

/* line 231, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
.tablaAper {
  width: 20%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

/* line 238, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
.tablaImp {
  width: 20%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

/* line 245, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
.tablaCentral {
  padding-top: 150px;
  height: 300px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* line 253, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
.menuNavegacion {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

/* line 259, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
.titulo {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

/* line 265, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
.volver {
  width: 8vh;
}

/* line 268, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
#contactoCentrar {
  padding-top: 30px;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 25%;
}

/* line 276, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
.hijoContacto {
  height: 0px;
  width: 30%;
  padding: 30px;
}

/* line 281, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
.hijoContactoMensaje {
  width: 30%;
  height: 40px;
  padding: 30px;
}

/* line 286, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
#queHacemos {
  margin-top: 150px;
}

/* line 288, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
#queHacemos .queHacemos__imagen1 {
  width: 40vh;
  box-sizing: border-box;
  border: 2px solid #000;
}

/* line 292, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
#queHacemos .queHacemos__imagen2 {
  width: 41vh;
  box-sizing: border-box;
  border: 2px solid #000;
}

/* line 296, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
#queHacemos .queHacemos__imagen3 {
  width: 50vh;
  box-sizing: border-box;
  border: 2px solid #000;
}

/* line 302, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
#queHacemos .queHacemos__titulo {
  margin-top: 3px;
}

/* line 306, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
.site-footer {
  background: linear-gradient(to right, #434564, #6967d5);
  padding: 35px 0 20px;
  font-size: 15px;
  line-height: 20px;
  color: white;
}

/* line 314, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}

/* line 319, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
.footer-links {
  padding-left: 0;
  list-style: none;
}

/* line 324, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
.footer-links li {
  display: block;
}

/* line 328, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
.footer-links.inline li {
  display: inline-block;
}

/* line 332, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
.site-footer .social-icons {
  text-align: right;
}

/* line 336, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: white;
}

/* line 346, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
.copyright-text {
  margin: 0;
}

@media (max-width: 991px) {
  /* line 352, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
  .site-footer [class^=col-] {
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  /* line 359, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
  .site-footer {
    padding-bottom: 0;
  }
  /* line 363, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
  .site-footer .copyright-text, .site-footer .social-icons {
    text-align: center;
  }
}

/* line 368, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

/* line 374, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}

/* line 379, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: white;
  font-weight: 700;
  font-size: 13px;
}

/* line 387, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
.social-icons a {
  background-color: white;
  color: white;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}

/* line 402, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
.social-icons a:active, .social-icons a:focus, .social-icons a:hover {
  color: white;
  background-color: white;
}

/* line 407, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}

@media (max-width: 767px) {
  /* line 416, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
}

/* line 423, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
.qHacemos {
  margin-top: 100px;
}

/* line 427, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
.bannerCont {
  max-height: 200px;
  max-width: 300px;
  height: 40vh;
  width: 55vh;
  background-image: url("../media/contabilidad.jfif");
  background-size: cover;
  background-position: center;
  margin: auto;
  margin-top: 150px;
}

@media all and (min-width: 576px) {
  /* line 439, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
  .bannerCont {
    max-height: 200px;
    max-width: 300px;
    height: 40vh;
    width: 90vh;
    background-image: url("../media/contabilidad.jfif");
    background-size: cover;
    background-position: center;
    margin: auto;
    margin-top: 130px;
  }
}

@media all and (min-width: 992px) {
  /* line 452, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
  .bannerCont {
    margin-top: 100px;
  }
}

/* line 456, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
.bannerImp {
  max-height: 200px;
  max-width: 300px;
  height: 40vh;
  width: 55vh;
  background-image: url("../media/impuesto.jfif");
  background-size: cover;
  background-position: center;
  margin: auto;
  margin-top: 150px;
}

@media all and (min-width: 576px) {
  /* line 468, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
  .bannerImp {
    max-height: 200px;
    max-width: 300px;
    height: 40vh;
    width: 90vh;
    background-image: url("../media/impuesto.jfif");
    background-size: cover;
    background-position: center;
    margin: auto;
    margin-top: 130px;
  }
}

@media all and (min-width: 992px) {
  /* line 481, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
  .bannerImp {
    margin-top: 100px;
  }
}

/* line 485, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
.bannerSueldo {
  max-height: 200px;
  max-width: 300px;
  height: 40vh;
  width: 55vh;
  background-image: url("../media/sueldos.jfif");
  background-size: cover;
  background-position: center;
  margin: auto;
  margin-top: 150px;
}

@media all and (min-width: 576px) {
  /* line 497, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
  .bannerSueldo {
    max-height: 200px;
    max-width: 300px;
    height: 40vh;
    width: 90vh;
    background-image: url("../media/sueldos.jfif");
    background-size: cover;
    background-position: center;
    margin: auto;
    margin-top: 130px;
  }
}

@media all and (min-width: 992px) {
  /* line 510, ../Germán/CoderHause/Web/Proyecto 1/entrega1/scss/estilos.scss */
  .bannerSueldo {
    margin-top: 100px;
  }
}

/*# sourceMappingURL=estilos.css.map */