#miHead{
	position: fixed;
	width:100%;
	top:0px;
	z-index: 100;
	display: block;
	background: linear-gradient(to right, #434564, #6967d5);
	& .miHead__encabezado{
	font-size: 2rem;
	color: white;
}
	& .h1{
		text-decoration: none;
	}
}
$tamImagen:100vh;
.banner{
  min-height: 300px;
  max-height: 381px;
  max-width:810px;
  height: 40vh;
  width: 55vh;
  background-image: url('../media/fondo.jpg');
  background-size: cover;
  background-position: center;
  margin: auto;
  margin-top: 150px;
}
.presentcionBanner{
	min-height: 200px;
  max-height: 600px;
  max-width:600px;
  width: 40vh;
  height: 40vh;
  background-image: url('../media/sanchez1.jpeg');
  background-size: cover;
  background-position: center;
  margin: auto;
  margin-top: 20vh;
}

@media all and (min-width: 576px){
	.banner{
		min-height: 300px;
  		max-height: 381px;
 		max-width:810px;
  		height: 40vh;
  		width: 90vh;
  		background-image: url('../media/fondo.jpg');
  		background-size: cover;
  		background-position: center;
  		margin: auto;
		margin-top: 130px;
}
}
@media all and (min-width: 992px){
	.banner{
	margin-top:100px;
}
}
#miBody .miBody__navegador{
	color: white;
	font-size: 2rem;
	padding: 20px;
	margin-bottom: 5px;
	border: 3px solid #000;
	width: 46%;
	box-sizing: border-box;
	height: 50%;
	background: linear-gradient(to right, #434564, #6967d5);
	transform: scale(1);
	text-align: center;
		&:hover{
			transform: scale(1.1);
				}
}
.miFooter__enlace__linkedin{
	width: 25px;
}
.miFooter__enlace__gmail{
	width: 32px;
	margin-left: 5px;
}
#miFooter{
	position: fixed;
	width: 100%;
	bottom:10px;
	display: block;
	& .miFooter__enlace{
	background-color: white;
}
}
/*Revisar para abajo*/
.colorNavegador{
	background: linear-gradient(to right, #434564, #6967d5);
}
.navegadorMenu li{
	color: white;
	font-size: 1rem;
	list-style-position: inside;
	list-style-type: upper-roman;
	display: inline-block;
	margin:7px;
}
.navegacion li{
	color: purple;
	font-size: 2rem;
	padding: 20px;
	margin: 5px 2% 5px 27%;
	border: 3px solid #000;
	width: 46%;
	box-sizing: border-box;
	height: 50%;
	background-color: grey;
	transform: scale(1);
	text-align: center;
	& :hover{
					transform: scale(1.1);
	}
}
.navegacion{
	list-style: none;
}
.titulos{
	color: white;
	font-size: 2rem;
	font-style: italic;
}
.subContacto{
	color: #000;
	font-size: 1.5rem;
	font-style: italic;
	padding-top: 150px;
}
.tituloTabla{
	color: black;
	font-style: italic;
	font-weight: bold;
}
.logoPrincipal{
	width: 7vh;
}
.foto{
	display: block;
	margin: auto;
	padding-top: 150px;
}
.logo{
	width: 7vh;
}
body{
	background-color:#e91e630f;
	font-family: 'Roboto', sans-serif;
	font-weight: 400px;
}
#menu{
	position: fixed;
	width: 60%;
	top:0px;
	display: block;
	margin-left: 20%;
	align-content: center;
}
#iconos{
	position: fixed;
	width: 100%;
	bottom: 5px;
	margin-left: 90%;
}
.iconosNavegacion li{
	display: inline-block;
	margin: 7px;
}
.linkedin{
	width: 25px;
}
.gmail{
	width: 32px;
}
.cuerpoPresentacion{
	& p{
			padding: 0;
			text-align:center;
			font-family:aria-controls;
			font-size:1.5rem;
			margin:auto;
			margin: 0 10vh 10vh;
		}
}
.cuerpoQHacemos{
			padding: 0;
			text-align:center;
			font-family:aria-controls;
			font-size:1.2rem;
			margin:auto;
			margin: 0 10vh 10vh;
			& ul{
				list-style:none;
			}
		}
@media all and (min-width: 576px){
	.cuerpoPresentacion{
	margin-top: 100px;
	}
}
@media all and (min-width: 992px){
	.cuerpoPresentacion{
	margin-top: 120px;
}
}
.tablaCentral img{
	width: 100px;
	margin-left:0%;
	box-sizing: border-box;
	border: 3px solid #000;
}
.tablaLiq{
	width:20%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap; 
	align-items: center;
}
.tablaCont{
	width: 20%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap; 
	align-items: center;
}
.tablaAper{
	width: 20%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap; 
	align-items: center;
}
.tablaImp{
	width: 20%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap; 
	align-items: center;
}
.tablaCentral{
	padding-top: 150px;
	height: 300px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
.menuNavegacion{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: center;
}
.titulo{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: center;
}
.volver{
	width: 8vh;
}
#queHacemos{
	margin-top: 150px;
	& .queHacemos__imagen1{
	width: 40vh;
	box-sizing: border-box;
	border: 2px solid #000;
	}& .queHacemos__imagen2{
	width: 41vh;
	box-sizing: border-box;
	border: 2px solid #000;
	}& .queHacemos__imagen3{
	width: 50vh;
	box-sizing: border-box;
	border: 2px solid #000;
	}

	& .queHacemos__titulo{
	margin-top: 3px;
	}
}
.site-footer
{
  background:linear-gradient(to right, #434564, #6967d5);
  padding:35px 0 20px;
  font-size:15px;
  line-height:20px;
  color:white;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:white;
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:white;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:white;
  color:white;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:white;
  background-color:white;
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}
.qHacemos{
	margin-top: 100px;
}
.bannerCont{
  max-height: 200px;
  max-width:300px;
  height: 40vh;
  width: 55vh;
  background-image: url('../media/contabilidad.jfif');
  background-size: cover;
  background-position: center;
  margin: auto;
  margin-top: 150px;
}
@media all and (min-width: 576px){
	.bannerCont{
  		max-height: 200px;
 			max-width:300px;
  		height: 40vh;
  		width: 90vh;
  		background-image: url('../media/contabilidad.jfif');
  		background-size: cover;
  		background-position: center;
  		margin: auto;
			margin-top: 130px;
}
}
@media all and (min-width: 992px){
	.bannerCont{
	margin-top:100px;
}
}
.bannerImp{
  max-height: 200px;
  max-width:300px;
  height: 40vh;
  width: 55vh;
  background-image: url('../media/impuesto.jfif');
  background-size: cover;
  background-position: center;
  margin: auto;
  margin-top: 150px;
}
@media all and (min-width: 576px){
	.bannerImp{
  		max-height: 200px;
 			max-width:300px;
  		height: 40vh;
  		width: 90vh;
  		background-image: url('../media/impuesto.jfif');
  		background-size: cover;
  		background-position: center;
  		margin: auto;
			margin-top: 130px;
}
}
@media all and (min-width: 992px){
	.bannerImp{
	margin-top:100px;
}
}
.bannerSueldo{
  max-height: 200px;
  max-width:300px;
  height: 40vh;
  width: 55vh;
  background-image: url('../media/sueldos.jfif');
  background-size: cover;
  background-position: center;
  margin: auto;
  margin-top: 150px;
}
@media all and (min-width: 576px){
	.bannerSueldo{
  		max-height: 200px;
 			max-width:300px;
  		height: 40vh;
  		width: 90vh;
  		background-image: url('../media/sueldos.jfif');
  		background-size: cover;
  		background-position: center;
  		margin: auto;
			margin-top: 130px;
}
}

@media all and (min-width: 992px){
	.bannerSueldo{
	margin-top:100px;
}
}
@media all and (min-width: 576px){
	.container1{
	margin-top:130px;
}
}
@media all and (min-width: 992px){
	.container1{
	margin-top:100px;
}
}
.container1 {
  width: 50%;
  margin: 0 auto;
  margin-top:150px;
}

.form-contact1 {
  width: 100%;
  font-family: "Arial", Times, serif;
}

.form-contact-input1 {
  width: 100%;
  color: #292929;
  font-size: 18px;
  background-color: #E9E9E9;
  border: 1px solid #E9E9E9;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  height: 40px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  text-indent: 20px;
}

.form-contact-textarea1 {
  width: 100%;
  color: #292929;
  font-size: 18px;
  background-color: #E9E9E9;
  border: 1px solid #E9E9E9;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  height: 200px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  text-indent: 20px;
  padding-top: 16px;
  padding-left: 0;
  padding-right: 0;
  font-family: "Arial", Times, serif;
}

.form-contact-button1 {
  width: 100%;
  font-size: 18px;
  border-radius: 4px;
  color: #fff;
  height: 40px;
  opacity: .8;
  margin-bottom: 20px;
  cursor: pointer;
  background: #B22222;
  display: block;
  border: none;
  border-bottom: 1px solid #500707;
  border-right: 1px solid #500707;
  transition: 1s;
}

.form-contact-button1:hover {
  opacity: 1;
}